$screen-xs-max: 767px;
$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 919px;
$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 1139px;
$screen-lg-min: $screen-md-max + 1;

$bg-color: #24cda8;
$bg-color-secondary: #4878d9;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	
}

body {
	position: absolute;
	min-width: 320px;
	width: 100%;
	height: 100%;
	font-family: 'Dosis', sans-serif;
	font-size: 74.268%;
	background-color: $bg-color;
}

.wrapper {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	width: auto;
	height: auto;
	background-color: darken($bg-color, 4%);
	box-sizing: border-box;
}

.title {
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	line-height: 1;
	font-weight: 200;
	font-size: 38px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	transform: translateY(-150%);
	transition: all 500ms ease-in-out;
	
	@media (min-width: $screen-sm-min) {
		font-size: 58px;
	}
	@media (min-width: $screen-md-min) {
		font-size: 84px;
	}
	@media (min-width: $screen-lg-min) {
		font-size: 120px;
	}
}

.mAudio-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: $bg-color-secondary;
	// transform: translate(-50%, -50%);
	transition: all 500ms ease-in-out, width 500ms ease-in-out 500ms, height 500ms ease-in-out 500ms;
	
	&.loaded {
		// width: 64px;
		// height: 64px;
		width: 0;
		height: 0;
		background-color: transparent;
		opacity: 0;
		
		.btn-mAudio {
			transform: translate(-50%, 0);
		}
	}
}

.btn-mAudio {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 64px;
	height: 64px;
	font-weight: 200;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: $bg-color;
	overflow: hidden;
	outline: 0;
	border: 3px solid darken($bg-color, 5%);
	border-radius: 64px;
	box-sizing: border-box;
	// transform: translate(-50%, -50%);
	transform: translate(-50%, 0);
	transition: all 500ms ease-in-out;
	&.played {
		// background-color: darken($bg-color, 5%);
		// border-color: #fff;
		box-shadow: 0 0 30px 8px rgba(#000, .1);
		animation: mAudio 1420ms ease-in-out 0s infinite alternate;
		
		.fa,
		.text {
			// animation: mAudioColor 710ms ease-in-out 0s infinite alternate;
		}
	}
	
	.fa,
	.text {
		position: absolute;
		transition: all 500ms ease-in-out;
	}

	.fa {
		top: 50%;
		left: 50%;
		width: 24px;
		margin-top: -8px;
		font-size: 28px;
		text-align: left;
		transform: translate(-50%, -50%);
	}
	.text {
		top: 50%;
		display: block;
		width: 100%;
		font-weight: 200;
		font-size: 11px;
		text-indent: 1px;
		letter-spacing: 1px;
		white-space: nowrap;
		transform: translateY(5px);
	}

	@media (min-width: $screen-sm-min) {
		width: 82px;
		height: 82px;
		font-size: 16px;
		border-width: 4px;
		border-radius: 82px;
		.fa {
			width: 38px;
			margin-top: -10px;
			font-size: 42px;
		}
		.text {
			font-size: 14px;
			text-indent: 2px;
			letter-spacing: 2px;
			transform: translateY(8px);
		}
	}
	@media (min-width: $screen-md-min) {
		width: 120px;
		height: 120px;
		font-size: 20px;
		border-width: 5px;
		border-radius: 120px;
		.fa {
			width: 56px;
			margin-top: -12px;
			font-size: 60px;
		}
		.text {
			font-size: 24px;
			transform: translateY(12px);
		}
	}
	@media (min-width: $screen-lg-min) {
		width: 142px;
		height: 142px;
		font-size: 24px;
		border-radius: 142px;
		.fa {
			width: 76px;
			margin-top: -14px;
			font-size: 80px;
		}
		.text {
			font-size: 28px;
			transform: translateY(17px);
		}
	}
}


@keyframes mAudio {
	to {
		border-color: #fff;
	}
}

@keyframes mAudioColor {
	to {
		color: lighten($bg-color, 32%);
	}
}


.mAudio-inner {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-65%);
	
	> p {
		margin-bottom: 64px;
		font-size: 14px;
		color: #fff;
	}
	> button {
		cursor: pointer;
		display: block;
		width: 240px;
		height: 45px;
		margin: 15px auto;
		font-weight: 500;
		font-size: 16px;
		color: #fff;
		letter-spacing: 2px;
		border: 0;
		outline: 0;
		transition: all 240ms ease-in-out;
		
		&:hover {
			opacity: .8;
		}
	}
	
	.label-mAudio {
		background-color: $bg-color;
	}
	.mAudio-none {
		background-color: darken($bg-color-secondary, 25%);
	}

	@media (min-width: $screen-sm-min) {
		> p {
			font-size: 18px;
		}
	}

	@media (min-width: $screen-md-min) {
		> p {
			font-size: 24px;
		}
	}
}
