* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  position: absolute;
  min-width: 320px;
  width: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 74.268%;
  background-color: #24cda8; }

.wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: auto;
  height: auto;
  background-color: #21bc9a;
  box-sizing: border-box; }

.title {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  line-height: 1;
  font-weight: 200;
  font-size: 38px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  transition: all 500ms ease-in-out; }
  @media (min-width: 768px) {
    .title {
      font-size: 58px; } }
  @media (min-width: 920px) {
    .title {
      font-size: 84px; } }
  @media (min-width: 1140px) {
    .title {
      font-size: 120px; } }

.mAudio-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #4878d9;
  transition: all 500ms ease-in-out, width 500ms ease-in-out 500ms, height 500ms ease-in-out 500ms; }
  .mAudio-wrapper.loaded {
    width: 0;
    height: 0;
    background-color: transparent;
    opacity: 0; }
    .mAudio-wrapper.loaded .btn-mAudio {
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.btn-mAudio {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  font-weight: 200;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #24cda8;
  overflow: hidden;
  outline: 0;
  border: 3px solid #20b796;
  border-radius: 64px;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: all 500ms ease-in-out; }
  .btn-mAudio.played {
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.1);
    -webkit-animation: mAudio 1420ms ease-in-out 0s infinite alternate;
    animation: mAudio 1420ms ease-in-out 0s infinite alternate; }
  .btn-mAudio .fa,
  .btn-mAudio .text {
    position: absolute;
    transition: all 500ms ease-in-out; }
  .btn-mAudio .fa {
    top: 50%;
    left: 50%;
    width: 24px;
    margin-top: -8px;
    font-size: 28px;
    text-align: left;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .btn-mAudio .text {
    top: 50%;
    display: block;
    width: 100%;
    font-weight: 200;
    font-size: 11px;
    text-indent: 1px;
    letter-spacing: 1px;
    white-space: nowrap;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px); }
  @media (min-width: 768px) {
    .btn-mAudio {
      width: 82px;
      height: 82px;
      font-size: 16px;
      border-width: 4px;
      border-radius: 82px; }
      .btn-mAudio .fa {
        width: 38px;
        margin-top: -10px;
        font-size: 42px; }
      .btn-mAudio .text {
        font-size: 14px;
        text-indent: 2px;
        letter-spacing: 2px;
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px); } }
  @media (min-width: 920px) {
    .btn-mAudio {
      width: 120px;
      height: 120px;
      font-size: 20px;
      border-width: 5px;
      border-radius: 120px; }
      .btn-mAudio .fa {
        width: 56px;
        margin-top: -12px;
        font-size: 60px; }
      .btn-mAudio .text {
        font-size: 24px;
        -webkit-transform: translateY(12px);
        -ms-transform: translateY(12px);
        transform: translateY(12px); } }
  @media (min-width: 1140px) {
    .btn-mAudio {
      width: 142px;
      height: 142px;
      font-size: 24px;
      border-radius: 142px; }
      .btn-mAudio .fa {
        width: 76px;
        margin-top: -14px;
        font-size: 80px; }
      .btn-mAudio .text {
        font-size: 28px;
        -webkit-transform: translateY(17px);
        -ms-transform: translateY(17px);
        transform: translateY(17px); } }

@-webkit-keyframes mAudio {
  to {
    border-color: #fff; } }

@keyframes mAudio {
  to {
    border-color: #fff; } }

@-webkit-keyframes mAudioColor {
  to {
    color: #a5efdf; } }

@keyframes mAudioColor {
  to {
    color: #a5efdf; } }

.mAudio-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-65%);
  -ms-transform: translateY(-65%);
  transform: translateY(-65%); }
  .mAudio-inner > p {
    margin-bottom: 64px;
    font-size: 14px;
    color: #fff; }
  .mAudio-inner > button {
    cursor: pointer;
    display: block;
    width: 240px;
    height: 45px;
    margin: 15px auto;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    border: 0;
    outline: 0;
    transition: all 240ms ease-in-out; }
    .mAudio-inner > button:hover {
      opacity: .8; }
  .mAudio-inner .label-mAudio {
    background-color: #24cda8; }
  .mAudio-inner .mAudio-none {
    background-color: #1c3f86; }
  @media (min-width: 768px) {
    .mAudio-inner > p {
      font-size: 18px; } }
  @media (min-width: 920px) {
    .mAudio-inner > p {
      font-size: 24px; } }
